[submodule "verl"]
	path = verl
	url = https://github.com/volcengine/verl.git
[submodule "external/webshop-minimal"]
	path = external/webshop-minimal
	url = git@github.com:ZihanWang314/webshop-minimal.git
